%p
  = raw "Hello , this is from #{blog_title} The password to retrieve the mail , effective , please click on the link within 10 minutes : #{link_to @url, @url} To reset your password if you can not click the link , please copy the address into your browser open for activation."
%p
  = "Thank you for #{blog_title} Support, I wish you a happy life !"