.article_content
  %h3
    = link_to article.title, article_path(article), target: '_blank'
  - get_tags(article).each do |tag|
    %span.label.label-default
      = tag
  %p
    %span.icon.icon-time(data-toggle="tooltip" data-placement="bottom" title="issuing time")
      = article.updated_at.strftime('%Y-%m-%d')
    %span.icon.icon-eye-open(data-toggle="tooltip" data-placement="bottom" title="Views")
      = article.view_count || 0
    %span.icon.icon-thumbs-up(data-toggle="tooltip" data-placement="bottom" title="Number of praise")
      = article.star_count || 0
    %span.icon.icon-comments(data-toggle="tooltip" data-placement="bottom" title="Reviews")
      = article.comments_count || 0
  - unless article.source.empty?
    %p
      Reprint：
      = article.source

  .row-fluid.article_des
    %p
      = article.content[0..300]
